@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
body {
  font-family: cursive;
  background-color: #f4f2ee;
}
.main-head {
  background: linear-gradient(to right, #e88238, #9a3412);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Pacifico", cursive;
}
.main-name-detail{
  font-family: "Pacifico", cursive;
}
.active{
  color: white;
  border-color: black;
  background-color: black;
}
.rotate-360{
  transform: rotate(360deg);
}
